= show_title('Store', @store.name)

%dl.dl-horizontal
  - if @store.owner.present?
    %dt.muted Owner
    %dd= @store.owner
  - if @store.address.present?
    %dt.muted Address
    %dd= @store.address
  - if @store.latitude.present?
    %dt.muted Latitude
    %dd= @store.latitude
  - if @store.longitude.present?
    %dt.muted Longitude
    %dd= @store.longitude

.form-actions
  = link_to 'Edit', edit_store_path(@store), class: 'btn'
  = link_to 'Back', stores_path, class: 'btn btn-info'
