%p#notice= notice

%p
  %b Name:
  = @store.name
%p
  %b Owner:
  = @store.owner
%p
  %b Address:
  = @store.address
%p
  %b Latitude:
  = @store.latitude
%p
  %b Longitude:
  = @store.longitude

= link_to 'Edit', edit_store_path(@store)
\|
= link_to 'Back', stores_path
