= render 'tpl_product'
= render 'tpl_store'
= render 'tpl_product_form'
= render 'tpl_product_list'

.row
  .span5
    .well
      .control-group.select.optional.transaction_details_product
        .controls
          = text_field_tag 'store', '', placeholder: 'Select store...', class: 'search-stores string optional', style: 'width: 98%;'

    #fields-add-product.form-inputs
      .controls
        = link_to '#', class: 'btn btn-success show-product-form' do
          %i.icon-plus.icon-white
          Add product
    #fields-for-product.well{ style: 'display: none;' }

  = simple_form_for @transaction, html: { class: 'form-horizontal' } do |f|
    = display_base_errors @transaction
    #selected-products.span7
      - if @transaction.new_record? && !@transaction.store.present?
        %h2.muted Store name
      - elsif @transaction.store.present?
        %h2= @transaction.store_name
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th #
            %th.span7 Product
            %th Price
            %th Quantity
            %th Total
            %th.span2
        %tbody
          - @transaction.details.each_with_index do |detail, index|
            %tr
              %td= index + 1
              %td= detail.product_name
              %td.number= number_to_currency detail.price
              %td.number= detail.quantity
              %td.number= number_to_currency detail.total
              %td
                = link_to '#', title: 'Edit', class: 'edit-product' do
                  %i.icon-edit
                = link_to '#', title: 'Remove', class: 'remove-product' do
                  %i.icon-remove
        %tfoot
          %tr
            %th
            %th
            %th
            %th.muted Total
            %th.number#selected-products-total
              - if @transaction.new_record? && !@transaction.store.present?
                0
              - elsif @transaction.store.present?
                = number_with_precision @transaction.total, precision: 2
            %th

    .span12
      .form-actions
        = f.button :submit, class: 'btn btn-primary'
        = link_to 'Cancel', transactions_path, :class => 'btn'
