= show_title(@transaction.user_name, @transaction.store_name)

%dl.dl-horizontal
  %dt.muted User
  %dd= @transaction.user_name
  %dt.muted Store
  %dd= @transaction.store_name

.form-actions
  = link_to 'Edit', edit_transaction_path(@transaction), class: 'btn'
  = link_to 'Back', transactions_path, class: 'btn btn-info'
