= show_title('Listing', 'products')

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th Id
      %th.span6 Name
      %th.span2 Price
      %th.span3 Created At
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td= product.id
        %td= link_to product.name, product
        %td.number= number_to_currency product.price
        %td= l product.created_at, format: :long
        %td
          = edit_link_to 'Edit', edit_product_path(product)
          = destroy_link_to 'Destroy', product

%br
= new_item_path('New Product', new_product_path)
